/* MD Topic List */

.topic-list .link-bottom-line .discourse-tags::before {
    content: "🔖";
    margin-left: 10px;
    margin-right: 2px;
}

.topic-list .link-bottom-line .topic-creator {
    font-size: 0.800em;
}

.topic-list .link-bottom-line .topic-creator a {
    color: $primary;
}

.topic-list td:last-of-type {
    padding-right: 0;
}

.topic-list .activity {
    min-width: 170px;
    width: auto;
}

.topic-list .last-post {
    padding: 5px 5px;
    width: auto;
}

.topic-list .last-post .poster-avatar {
    float: left;
    margin: 5px 5px 0 10px;
}

.topic-list .last-post .poster-info {
    width: calc(100% - 48px);
    float: right;
    overflow: hidden;
}


.topic-list .last-post .poster-info span.relative-date {
    color: $primary-high;
}

.topic-list .last-post .poster-info .editor a {
    color: $primary;
}